@charset "UTF-8";
/* Changement apparence de la souris au survol d'un lien ou d'un bouton" */
/* Flexbox : Center */
/* Flexbox : Space-Between */
/* Flexbox : Start */
/* Flexbox : Sapce-Arround */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

footer p {
  font-family: "Shrikhand";
  color: black;
}

h1, h2, h3, p, ol, li, .btn {
  font-family: "Roboto";
  color: black;
}

h1 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

p, li, .btn {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.principal_container_page h2 {
  font-weight: normal;
}

.price {
  font-weight: bold;
}

.top_home p {
  text-align: center;
  font-size: 18px;
}

.top_home form i {
  font-size: 20px;
}

ol li {
  font-weight: bold;
}

.btn {
  color: white;
  font-weight: bold;
}

.new {
  background-color: #99E2D0;
  width: 80px;
  text-align: center;
}
.new p {
  color: #04916e;
  font-size: 12px;
  font-weight: bold;
}

.btn_like i {
  font-size: 20px;
}

.choice_container_page i {
  font-size: 20px;
}

footer {
  background-color: rgb(66, 65, 65);
}
footer p {
  font-size: 18px;
}
footer ul {
  list-style-type: none;
}
footer p, footer a {
  color: white;
}

/* Début: Animation Loading Spinner */
/* Apparition texte "Chargement..." depuis la gauche */
@-webkit-keyframes translation {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes translation {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 0%;
  }
}
/* Apparition progressive du cercle */
@-webkit-keyframes spin_scale {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes spin_scale {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
/* Animation: Rotation cercle */
@-webkit-keyframes spin_turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin_turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Animation: Arrêt rotation cercle apès masquage du Loading Spinner */
@-webkit-keyframes spin_stop {
  from, to {
    transform: rotate(0deg);
  }
}
@keyframes spin_stop {
  from, to {
    transform: rotate(0deg);
  }
}
/* Animation: Texte "..." */
@-webkit-keyframes loadg {
  100% {
    transform: translateY(-3px);
  }
}
@keyframes loadg {
  100% {
    transform: translateY(-3px);
  }
}
/* Animation: Changement couleur de texte "Chargement..." */
@-webkit-keyframes change {
  from, to {
    color: white;
  }
  25% {
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  75% {
    color: #99e2d0;
  }
  100% {
    color: #c5c5c5;
  }
}
@keyframes change {
  from, to {
    color: white;
  }
  25% {
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  75% {
    color: #99e2d0;
  }
  100% {
    color: #c5c5c5;
  }
}
/* Disparition du Loading Spinner */
@-webkit-keyframes hideLoader {
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes hideLoader {
  to {
    opacity: 0;
    z-index: -1;
  }
}
/* Fin: Animation Loading Spinner */
/* Apparence des boutons au survol */
.btn:hover {
  opacity: 70%;
  box-shadow: 10px 10px 20px grey;
}

/* Apparence de l'icône coeur au survol */
.btn_like:hover .fill {
  font-weight: bold;
  transform: scale(1);
}

/* Apparition des plats et translation */
@-webkit-keyframes appear_slide {
  from {
    z-index: 0;
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    z-index: 0;
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes appear_slide {
  from {
    z-index: 0;
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    z-index: 0;
    opacity: 1;
    transform: translateY(0px);
  }
}
.choice_container_page:hover {
  /* Flexibilité largeur de la div "meal_container_page" en fonction de la largeur des 2 autres blocs "Price" & "Check" */
  /* Rognage du titre "h3" et du paragraphe "p" */
  /* Apparition Icône "Check" depuis la doite */
  /* Rotation 360° Icône "Check" dans le sens horaire */
}
.choice_container_page:hover .meal_container_page {
  flex: initial;
  max-width: 65%;
}
.choice_container_page:hover .meal_container_page h3, .choice_container_page:hover p {
  /*max-width: 100%;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* apparition "..." pour le texte en overflow */
}
.choice_container_page:hover span {
  flex: none;
  /*width:15%;*/
  transform: translateX(0%);
}
.choice_container_page:hover i {
  transform: rotate(360deg);
}

.btn {
  width: 200px;
  height: 50px;
  margin: auto;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 10px #c5c5c5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  cursor: pointer;
}

.btn_like {
  width: 45px;
  height: 60px;
  border: none;
  text-align: center;
  position: absolute;
  right: 3%;
  bottom: 8px;
  background-color: white;
  display: flex;
  cursor: pointer;
  margin-right: 4%;
  padding-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_like i {
  position: relative;
  width: 20px;
  height: 20px;
}
.btn_like .fill {
  width: 20px;
  height: 20px;
  transform: scale(0);
  transition: all 0.4s ease;
  position: absolute;
  font-weight: bold;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card figure {
  width: 90%;
  height: 200px;
  margin: auto;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px #c5c5c5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.card figure img {
  width: 100%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card figure .new {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 2px;
}
.card figure .new p {
  margin: 5px;
}
.card figure figcaption {
  width: 100%;
  height: 35%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figcaption div {
  margin-left: 10px;
}
figcaption h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}
figcaption p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.card_and_like {
  position: relative;
}

footer {
  width: 100%;
  height: 200px;
  width: 100%;
  padding: 25px;
  z-index: 1;
}

footer p {
  margin-top: 0px;
  margin-bottom: 15px;
}

ul {
  padding-left: 0px;
}

footer li {
  margin-bottom: 10px;
}

footer li i {
  margin-right: 10px;
}

.menu_footer {
  margin-top: -50px;
}

/* Début: Media Queries 701px -> 830px */
@media all and (min-width: 701px) and (max-width: 830px) {
  footer ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }
}
/* Fin: Media Queries 701px -> 830px */
/* Début: Media Queries 831px -> 1000px */
@media all and (min-width: 831px) and (max-width: 1000px) {
  footer ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }
}
/* Fin: Media Queries 831px -> 1000px */
/* Début : Media Queries 1001px -> 1440px */
@media all and (min-width: 1001px) and (max-width: 1440px) {
  footer ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }
}
/* Fin : Media Queries 1001px -> 1440px */
/* Début: Media queries Ecrans >1440px */
@media all and (min-width: 1441px) {
  footer ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
  }
}
/* Fin: Media queries Ecrans >1440px */
header {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
header .back_home {
  display: none;
}

.logo {
  width: 155px;
  height: auto;
  text-align: center;
}

.menu_header {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.menu_header a {
  padding-right: 20%;
}

.top_page img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.principal_container_page {
  position: relative;
  top: -50px;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 25px 25px 0px 0px;
  padding-bottom: 50px;
  /* Mise en forme soulignement titres "h2" */
}
.principal_container_page h2 {
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 16px;
  margin-left: 15px;
  padding-bottom: 5px;
  position: relative;
  /* Permet de positionner la bordure dans le pseusdo-élément "h2::before" */
}
.principal_container_page h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50px;
  border-bottom: 3px solid #99E2D0;
}
.principal_container_page .btn {
  margin-top: 30px;
}

.resto_name {
  height: 70px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.resto_name button {
  position: absolute;
  top: 5px;
  background-color: #f5f5f5;
}

/* Animation de chaque plat de "Entrées" */
.top_container_page :nth-child(2) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 1 forwards;
}
.top_container_page :nth-child(3) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 0.3s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 0.3s 1 forwards;
}
.top_container_page :nth-child(4) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 0.6s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 0.6s 1 forwards;
}
.top_container_page :nth-child(5) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 0.9s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 0.9s 1 forwards;
}

/* Animation de chaque plat de "Plats" */
.middle_container_page :nth-child(2) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 1.2s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 1.2s 1 forwards;
}
.middle_container_page :nth-child(3) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 1.5s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 1.5s 1 forwards;
}
.middle_container_page :nth-child(4) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 1.8s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 1.8s 1 forwards;
}

/* Animation de chaque plat de "Desserts" */
.bottom_container_page :nth-child(2) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 2.1s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 2.1s 1 forwards;
}
.bottom_container_page :nth-child(3) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 2.4s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 2.4s 1 forwards;
}
.bottom_container_page :nth-child(4) {
  -webkit-animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 2.7s 1 forwards;
          animation: appear_slide 1s cubic-bezier(0.68, 0.91, 0.77, 1.01) 2.7s 1 forwards;
}

.choice_container_page {
  z-index: -1;
  position: relative;
  width: 95%;
  height: 60px;
  margin: auto;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 0px 2px 10px #c5c5c5;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  /* Invisibilité du block "Check" car il dépasse du container */
}
.choice_container_page span {
  display: block;
  width: 15%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  color: white;
  /* Apparition Icône "Check" depuis la doite */
  transform: translateX(50%);
  transition: transform 1s cubic-bezier(0.68, 0.91, 0.77, 1.01);
  /* Rotation 360° Icône "Check" dans le sens horaire */
}
.choice_container_page span i {
  transform: rotate(0deg);
  transition: all 0.4s linear;
}

.meal_container_page {
  width: 85%;
  flex: none;
  /* Non-Flexibilité de la largeur de la div "meal_container_page" */
  margin-left: 10px;
}
.meal_container_page h3 {
  padding-bottom: 5px;
  margin-left: -2px;
}
.meal_container_page p {
  margin-left: -2px;
}

.price {
  width: 15%;
  padding-top: 25px;
  padding-right: 15px;
  flex: none;
  /* Non-Flexibilité de la largeur de la div "price" */
  text-align: center;
}

/* Début: Media Queries 401px -> 960px */
@media all and (min-width: 401px) and (max-width: 960px) {
  .section_container_page section {
    max-width: 400px;
    margin: auto;
  }
}
/* Fin: Media Queries 401px -> 960px */
/* Début: Media Queries 961px -> 1440px */
@media all and (min-width: 961px) and (max-width: 1440px) {
  .section_container_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }
  .section_container_page section {
    width: 34%;
  }

  .choice_container_page {
    margin-bottom: 35px;
  }
}
/* Fin: Media Queries 961px -> 1440px */
/* Début: Media queries Ecrans >1440px */
@media all and (min-width: 1441px) {
  body {
    max-width: 1440px;
    margin: auto;
  }

  .section_container_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
  }
  .section_container_page section {
    width: 34%;
  }

  .choice_container_page {
    margin-bottom: 35px;
  }
}
/* Fin: Media queries Ecrans >1440px */
h2 {
  margin-left: 6%;
}

/* Début: Mise en forme Loading Spinner*/
/* Mise en forme du background du Loading Spinner */
.loader {
  position: fixed;
  background: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1;
  opacity: 0.9;
  -webkit-animation: hideLoader 0s ease-out 3s forwards;
          animation: hideLoader 0s ease-out 3s forwards;
  /* Animation: Disparition du Loading Spinner */
}

/* Mise en forme du cercle du Loading Spinner */
.spin {
  width: 100px;
  height: 100px;
  border-top: 8px solid #9356DC;
  border-right: 8px solid #FF79DA;
  border-bottom: 8px solid #99E2D0;
  border-left: 8px solid rgb(235, 235, 235);
  border-radius: 50%;
  -webkit-animation: spin_turn 0.4s ease-out infinite, spin_scale 0.1s cubic-bezier(0, 0.96, 0.14, 1), spin_stop 0.1s linear 3s forwards;
          animation: spin_turn 0.4s ease-out infinite, spin_scale 0.1s cubic-bezier(0, 0.96, 0.14, 1), spin_stop 0.1s linear 3s forwards;
  /* Animation: Rotation du cercle */
}

/* Mise en forme du texte "Chargement..." */
.load {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load p {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
  -webkit-animation: translation 0.4s, change 1s ease infinite;
          animation: translation 0.4s, change 1s ease infinite;
  /* Animation: Apparition du texte "Chargement..." depuis la gauche */
}

.dot_container {
  display: flex;
}

/* Animation des points de suspension */
.load .dot {
  -webkit-animation: loadg infinite 0.3s alternate, change 1s ease infinite;
          animation: loadg infinite 0.3s alternate, change 1s ease infinite;
}

.load .d2 {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.load .d3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

/* Fin: Mise en forme loading spinner*/
.top_home {
  background-color: #f5f5f5;
  padding-bottom: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top_home h1 {
  margin-top: 0px;
}
.top_home p {
  margin-bottom: 25px;
}

form {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 35px;
  box-shadow: 0px 2px 10px #c5c5c5 inset;
}
form i {
  margin-right: 5px;
}
form .localize {
  height: 50px;
  background-color: rgb(235, 235, 235);
  border: none;
}
form ::-moz-placeholder {
  padding-left: 15px;
}
form :-ms-input-placeholder {
  padding-left: 15px;
}
form ::placeholder {
  padding-left: 15px;
}

.middle_home h2 {
  margin-bottom: 30px;
}

ol {
  list-style: none;
  counter-reset: puce;
  padding: 0px;
  text-align: center;
  margin-left: 10px;
}
ol li {
  width: 90%;
  height: 70px;
  background-color: #f3f3f3;
  box-shadow: 0px 2px 10px #c5c5c5;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 25px;
}
ol li:nth-child(1) {
  padding-right: 44px;
}
ol li:nth-child(2) {
  padding-right: 60px;
}
ol li:nth-child(3) {
  padding-right: 55px;
  background-color: #f1e6ff;
}
ol li:nth-child(3) i {
  color: #9356DC;
}
ol li::before {
  margin-right: 10px;
  margin-left: -13px;
  width: 22px;
  color: white;
  text-align: center;
  font-size: 18px;
  background-color: #9356DC;
  border-radius: 50%;
  content: counter(puce);
  display: inline-block;
  counter-increment: puce;
}

.bottom_home {
  background-color: #f5f5f5;
  margin-top: 50px;
  padding-bottom: 50px;
  /*a{
      width:100%;
  }*/
}
.bottom_home h2 {
  padding-top: 35px;
}

/* Début: Media Queries 401px -> 700px */
@media all and (min-width: 401px) and (max-width: 700px) {
  .middle_home h2 {
    position: absolute;
    width: 100%;
    left: 0px;
  }
  .middle_home ol {
    padding-top: 50px;
  }

  h2 {
    margin-left: 20px;
  }

  .bottom_home {
    width: 100%;
  }

  .cards_container_home, .middle_home {
    margin: auto;
    width: 400px;
  }
}
/* Fin: Media Queries 401px -> 700px */
/* Début: Media Queries 701px -> 830px */
@media all and (min-width: 701px) and (max-width: 830px) {
  ol {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  ol li {
    width: 30%;
    padding-right: 0px;
    margin-right: 0px;
  }
  ol li i {
    margin-right: 5px;
  }

  ol li:nth-child(1) {
    padding-right: 25px;
  }

  ol li:nth-child(2) {
    padding-right: 30px;
  }

  ol li:nth-child(3) {
    padding-right: 25px;
  }

  .cards_container_home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
  }

  .card_and_like {
    width: 50%;
    margin-bottom: 30px;
  }
}
/* Fin: Media Queries 701px -> 830px */
/* Début: Media Queries 831px -> 1000px */
@media all and (min-width: 831px) and (max-width: 1000px) {
  ol {
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  ol li {
    width: 30%;
    padding-right: 0px;
    margin-right: 0px;
  }
  ol li i {
    margin-right: 5px;
  }

  ol li:nth-child(1) {
    padding-right: 25px;
  }

  ol li:nth-child(2) {
    padding-right: 30px;
  }

  ol li:nth-child(3) {
    padding-right: 25px;
  }

  .cards_container_home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
  }

  .card_and_like {
    width: 390px;
    margin-bottom: 30px;
  }
}
/* Fin: Media Queries 831px -> 1000px */
/* Début : Media Queries 1001px -> 1440px */
@media all and (min-width: 1001px) and (max-width: 1440px) {
  ol {
    width: 950px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  ol li {
    width: 30%;
    padding-right: 0px;
    margin-right: 0px;
  }
  ol li i {
    margin-right: 5px;
  }

  ol li:nth-child(1) {
    padding-right: 45px;
  }

  ol li:nth-child(2) {
    padding-right: 55px;
  }

  ol li:nth-child(3) {
    padding-right: 55px;
  }

  h2 {
    margin-left: 20px;
  }

  .cards_container_home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .card_and_like {
    width: 25%;
  }
}
/* Fin : Media Queries 1001px -> 1440px */
/* Début: Media queries Ecrans >1440px */
@media all and (min-width: 1441px) {
  body {
    max-width: 1440px;
    margin: auto;
  }

  ol {
    width: 950px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  ol li {
    width: 30%;
    padding-right: 0px;
    margin-right: 0px;
  }
  ol li i {
    margin-right: 5px;
  }

  ol li:nth-child(1) {
    padding-right: 45px;
  }

  ol li:nth-child(2) {
    padding-right: 55px;
  }

  ol li:nth-child(3) {
    padding-right: 55px;
  }

  h2 {
    margin-left: 20px;
  }

  h2 {
    margin-left: 20px;
  }

  .cards_container_home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .card_and_like {
    width: 25%;
  }
}
/* Fin: Media queries Ecrans >1440px *//*# sourceMappingURL=main.css.map */