header{
    padding-top: 15px;
    @include flex_cntr;
    z-index: 1;
}

.logo{
    width:155px;
    height:auto;
    text-align: center;
}

.menu_header{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    @include flex_cntr;
    margin-bottom: 15px;

    a{
        margin-right:auto;
    }
}