.top_page img{
    width:100%;
    height:auto;
}

.principal_container_page{
    position: relative;
    top: -50px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 50px;

        h2{
            text-transform: uppercase;
        }

}