.top_page img{
    width:100%;
    height:210px;
    object-fit: cover;
}

.principal_container_page{
    position: relative;
    top: -50px;
    width: 100%;
    background-color: $light_background;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 50px;

        h2{
            text-transform: uppercase;
            margin-top: 35px;
            margin-bottom: 16px;
            margin-left: 15px;
            padding-bottom:5px;
            position:relative; /* Permet de positionner la bordure dans le pseusdo-élément "h2::before" */
            
        }

        /* Mise en forme soulignement titres "h2" */
        h2::before{
            content: "";
            position: absolute;
            bottom: 0;
            width: 50px;
            border-bottom: 3px solid #99E2D0;
        }

        .btn{
            margin-top:30px;
        }
}

.resto_name{
    height:70px;
    padding-left: 16px;
    @include flex_btwn;
    position: relative;

    button{
        position: absolute;
        top:5px;
        background-color: $light_background;
        
    }
}

/* Animation de chaque plat de "Entrées" */
.top_container_page{
    .entree1{
       animation: appear_slide $fade_in_duration $fade_in_translate_cubic 1 forwards;
    }

    .entree2{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic .3s 1 forwards;
    }

    .entree3{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic .6s 1 forwards;
    }

    .entree4{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic .9s 1 forwards;
    }
}

/* Animation de chaque plat de "Plats" */
.middle_container_page{
    .plat1{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic 1.2s 1 forwards;
    }

    .plat2{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic 1.5s 1 forwards;
    }

    .plat3{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic 1.8s 1 forwards;
    }
}

/* Animation de chaque plat de "Desserts" */
.bottom_container_page{
    .dessert1{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic 2.1s 1 forwards;
    }

    .dessert2{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic 2.4s 1 forwards;

    }

    .dessert3{
        animation: appear_slide $fade_in_duration $fade_in_translate_cubic 2.7s 1 forwards;

    }
}

.choice_container_page{
    z-index: -1;
    position:relative;
    width:95%;
    height: 60px;
    margin:auto;
    margin-bottom: 15px;
    background-color:white;
    box-shadow: $shadow;
    border-radius: 15px;
    @include flex_btwn;
    @include cursor;
    overflow: hidden;/* Invisibilité du block "Check" car il dépasse du container */
}
    
.check{
    width: 15%;
    height: 60px;
    @include flex_cntr;
    background-color:$tertiary_color;
    border-radius: 0px 15px 15px 0px;
    color: white;

    /* Apparition Icône "Check" depuis la droite */
    transform:translateX(100%);
    transition:transform .2s linear;

    /* Rotation 360° Icône "Check" dans le sens horaire */
    i{
        transform: rotate(0deg);
        transition: all .4s linear;
    }
}

.meal_container_page{
    width:85%;
    flex:none; /* Non-Flexibilité de la largeur de la div "meal_container_page" */
    margin-left: 10px;
    h3{
        padding-bottom : 5px;
        margin-left:-2px;
    }
    
    p{
        margin-left:-2px;
    }
}

.price{
    width:15%;
    padding-top:25px;
    padding-right: 15px;
    flex:none; /* Non-Flexibilité de la largeur de la div "price" */
    text-align: center;
}

/* Début: Media Queries 401px -> 960px */
@media all and (min-width: 401px) and (max-width: 960px){
    .top_page img{
        height:340px
    }

    .section_container_page section{
        max-width: 320px;
        margin: auto;
    }

}
/* Fin: Media Queries 401px -> 960px */

/* Début: Media Queries 961px -> 1440px */
@media all and (min-width: 961px) and (max-width: 1440px){
    .top_page img{
        height:450px
    }

    .resto_name h1{
            margin: auto;
    }

    .section_container_page{
        @include flex_arnd;
        align-items: flex-start;

        section{
            width:320px;
        }
    }

    .choice_container_page{
        margin-bottom: 35px;
    }
}
/* Fin: Media Queries 961px -> 1440px */

/* Début: Media queries Ecrans >1440px */
@media all and (min-width: 1441px){
    body{
        max-width: 1440px;
        margin: auto;
    }

    .top_page img{
        height:450px
    }

    .resto_name h1{
        margin: auto;
    }

    .section_container_page{
        @include flex_arnd;
        align-items: flex-start;

        section{
            width:320px;
        }
    }

    .choice_container_page{
        margin-bottom: 35px;
    }
}
/* Fin: Media queries Ecrans >1440px */



