.top_page img{
    width:100%;
    height:auto;
}

.principal_container_page{
    position: relative;
    top: -50px;
    width: 100%;
    background-color: $light_background;
    border-radius: 25px 25px 0px 0px;
    padding-bottom: 50px;

        h1{
            padding-left: 7px;
        }

        h2{
            text-transform: uppercase;
            margin-left: 25px;
            margin-bottom: 16px;
            padding-bottom:5px;
            position:relative; /* Permet de positionner la bordure dans le pseusdo-élément "h2::before" */
            
        }

        /* Mise en forme soulignement titres "h2" */
        h2::before{
            content: "";
            position: absolute;
            bottom: 0;
            width: 17%;
            border-bottom: 3px solid #99E2D0;
        }

        .btn{
            margin-top:30px;
        }
}

.resto_name{
    height:70px;
    padding-left: 20px;
    @include flex_btwn;
    position: relative;

    button{
        position: absolute;
        top:5px;
        background-color: $light_background;
        
    }
}

.choice_container_page{
    width:90%;
    height: 60px;
    margin:auto;
    margin-bottom: 15px;
    background-color:white;
    box-shadow: $shadow;
    border-radius: 15px;
    @include flex_btwn;
    @include cursor;
    overflow: hidden;/* Invisibilité du block "Check" car il dépasse du container */
    
    span {
        width: 15%;
        height: 60px;
        @include flex_cntr;
        background-color:$tertiary_color;
        border-radius: 0px 15px 15px 0px;
        color: white;

        /* Apparition Icône "Check" depuis la doite */
        transform: translateX(50%);
        transition: all .2s linear;

        /* Rotation 360° Icône "Check" dans le sens horaire */
        i{
            transform: rotate(0deg);
            transition: all .4s linear;
        }
    }
   
}

.meal_container_page{
    width:85%;
    flex:none; /* Non-Flexibilité de la largeur de la div "meal_container_page" */
    margin-left: 10px;
}

.price{
    width:15%;
    padding-right: 15px;
    flex:none; /* Non-Flexibilité de la largeur de la div "price" */
    text-align: center;
}

