/* Début: Animation Loading Spinner */

/* Apparition texte "Chargement..." depuis la gauche */
@keyframes translation{
    from {
       margin-left: -200px;
    }
    to {
       margin-left: 0%;
    }
}

/* Apparition progressive du cercle */
@keyframes spin_scale{
    0% { transform:scale(0%); }
    100% { transform:scale(100%); }
}

/* Animation: rotation cercle */
@keyframes spin_turn{ 
    0% {  transform:rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin_stop{
   from,to { transform: rotate(0deg); }
}

/* Animation: Texte "..." */ 
@keyframes loadg{
    100%{
    transform:translateY(-3px);
    }
}

/* Animation: Changement couleur de texte "Chargement..." */
@keyframes change{
    from, to{color:white }

    25% {color:#9356dc}
    50% {color:#ff79da}
    75% {color:#99e2d0}
    100% {color:#c5c5c5}
}

/* Disparition du Loading Spinner */
@keyframes hideLoader {
    to {
      opacity: 0;
      /*overflow: hidden;
      visibility: hidden;*/
    }
}
/* Fin: Animation Loading Spinner */

/* Apparence des boutons au survol */
.btn:hover{
    opacity: 70%;
    box-shadow: 10px 10px 20px grey;
}

/* Apparence de l'icône coeur au survol */
.btn_like:hover{
    .fill{
        font-weight: bold;
        transform: scale(1);
    }
}

.choice_container_page:hover{
    span{
    transform: translateX(0%);
    }
}
