/* Début: Animation Loading Spinner*/

@keyframes spin{ 
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes loading{
    100%{
    transform:translateY(-3px)
    }
}

/* Apparition texte "Chargement..." depuis la gauche*/
@keyframes load {
    from {
       margin-left: -200px;
    }

    to {
       margin-left: 0%;
    }
 }

/* Disparition Loading Spinner pour autres navigateurs*/
@keyframes hideLoader {
  to {
      width: 0;
      height: 0;
      overflow: hidden;
      visibility: hidden;
  }
}
/* Disparition Loading Spinner pour Chrome*/
@-webkit-keyframes hideLoader {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}
/* Fin: Animation Loading Spinner*/

.btn:hover{
    opacity: 70%;
    box-shadow: 10px 10px 20px grey;
}

.btn_like:hover{
    .fill{
        font-weight: bold;
        transform: scale(1);
    }
}
