.btn {
    width:200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    box-shadow: $shadow;
    @include flex_cntr;
    background-image:linear-gradient(
        to top,
        $primary-color,
        $secondary_color,
    );
    @include cursor;
}
.btn_like{
    width: 45px;
    height: 60px;
    border: none;
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: 8px;
    background-color: white; display:flex;
    @include cursor;
    margin-right: 3%;
    padding-left: 25px;
    @include flex_cntr;
   

    i{
        position:relative;
        width:20px;
        height:20px;
        margin:auto;
        /*overflow:hidden;*/
       /* z-index: 0;*/
    }

   /* i::before{
        /*content: '';*/
       /* position:absolute;
        top:20px;
        right:0px;
        font-weight: bold;
        background-image: linear-gradient(
        to top,
        $secondary_color,
        $primary_color,
        );
        background-clip: text;
        color: transparent;
        transition: all 4s;
    }

  /*  .fill{
        transition: all 0.4s linear;
        /*font-weight: bold;*/
        /*background-color: red;
        z-index: -1;*/
        /*background-image: linear-gradient(
        to top,
        $secondary_color,
        $primary_color,
        );
        background-clip: text;
        color: transparent;*/
       /* width :100%;
        height:0;
        position:absolute;
        left:0;
        bottom:0;
    }*/
}