.btn {
    width:200px;
    height: 50px;
    margin:auto;
    border: none;
    border-radius: 25px;
    box-shadow: $shadow;
    @include flex_cntr;
    background-image:linear-gradient(
        to top,
        $primary-color,
        $secondary_color,
    );
    @include cursor;
}
.btn_like{
    width: 45px;
    height: 60px;
    border: none;
    text-align: center;
    position: absolute;
    right: 3%;
    bottom: 8px;
    background-color: white;
    display: flex;
    cursor: pointer;
    margin-right: 4%;
    padding-left: 25px;
    @include flex_cntr;
   
    i{
        position:relative;
        width:20px;
        height:20px;
    }

    .fill{
        width: 20px;
        height: 20px;
        transform:scale(0);
        transform-origin: bottom;
        transition: all 0.4s ease;
        position: absolute;
        font-weight: bold;
        background-image: linear-gradient(
        to top,
        $secondary_color,
        $primary_color,
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}