.card figure{
    width:90%;
    height:200px;
    margin:auto;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: $shadow;
    @include flex_strt;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    img{
        width:100%;
        height: 65%;
        object-fit: cover;
    }

    .new{
        position: absolute;right: 10px;top: 10px;
        border-radius: 2px;
        p{
            margin:5px;
        }
    }

    figcaption{
        width:100%;
        height: 35%;
        background-color: white;
        @include flex_btwn
    }
}

figcaption{
    
    div{
        margin-left: 10px;
    }

    h3{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    p{
        margin-top: 5px;
        margin-bottom: 0px;
    }
}
.card_and_like{
    position: relative;
}