h1, h2, h3, footer p{
    font-family: 'Shrikhand';
    color: black;
}

h1{
    font-size: 24px;
    text-align: center;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 18px;
}

p, ol, li, .btn {
    font-family: 'Roboto';
    color: black;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: black;
    @include cursor;
}

.price{
    font-weight: bold;
}

.top_home p{
    text-align: center;
    font-size: 18px;
}

.top_home form i{
    font-size: 20px;
}

ol li{
    font-weight: bold;
}

.btn{
    color: white;
    font-weight: bold;
    
}

.new{
    background-color:$tertiary_color;
    width: 80px;
    text-align: center;
       
    p{
        color: #04916e; 
        font-size: 12px; 
        font-weight: bold;  
    }
}

.btn_like i{
    font-size: 20px;
}

footer{
    background-color: $footer_background;

    p{
        font-size: 18px;
    }
    
    ul{
        list-style-type: none;
    }

    p,a{
        color: white;
    }
}



