h1, h2, h3, footer p{
    font-family: 'Shrikhand';
    color: black;
    font-weight: bold;
}

p, ol, li, .btn {
    font-family: 'Roboto';
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: rgb(66, 65, 65);
}

ul{
    list-style-type: none;
}

footer p,li{
    color: white;
}