h2{
    margin-left:6%;
}

/* Début: Mise en forme Loading Spinner*/
/* Mise en forme du background du Loading Spinner */
.loader{
    position:fixed;
    background:rgb(0,0,0);
    width:100vw;
    height:100vh;
    display : flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    align-content:center;
    z-index:1;
    opacity:.9;
    animation: hideLoader 0s ease-out 3s forwards; /* Animation: Disparition du Loading Spinner */
}

/* Mise en forme du cercle du Loading Spinner */
.spin{
    width:100px;
    height:100px;
    border-top:8px  solid $primary_color;
    border-right:8px solid $secondary_color;
    border-bottom:8px solid $tertiary_color;
    border-left:8px solid $dark_background;
    border-radius:50%;
    animation:spin_turn .4s ease-out infinite, spin_scale .1s cubic-bezier(0,.96,.14,1), spin_stop .1s linear 3s forwards ; /* Animation: Rotation du cercle */ 
}

/* Mise en forme du texte "Chargement..." */
.load{
    display:flex;
    justify-content:center;
    align-items:center;
    p{
        margin-top:30px;
        font-size: 40px;
        font-weight: bold;
        animation: translation .4s,change 1s ease infinite; /* Animation: Apparition du texte "Chargement..." depuis la gauche */
    }
}
  
.dot_container{
    display:flex;
}
/* Animation des points de suspension */
.load .dot{
    animation:loadg infinite 0.3s alternate,change 1s ease infinite;
} 
.load .d2{
    animation-delay: 0.25s;
}
.load .d3{
    animation-delay:0.5s;
}
/* Fin: Mise en forme loading spinner*/

.top_home{
    background-color: $light_background;
    padding-bottom: 50px;
    margin-bottom: 50px;
    @include flex_cntr;
    flex-direction: column;

    h1{
        margin-top: 0px;
    }

    p{
        margin-bottom: 25px;
    }
}

form{
    width:100%;
    height: 60px;
    @include flex_cntr;
    background-color: $dark_background;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 35px;
    box-shadow: $shadow inset;
    
    i{
        margin-right: 5px;
    }
    
    .localize{
        height: 50px;
        background-color: $dark_background;
        border: none;
    }

    ::placeholder{
        padding-left:15px;
    }
}

.middle_home{
    h2{
        margin-bottom: 30px;
    }
}

ol{
    list-style: none;
    counter-reset: puce;
    padding: 0px;
    text-align: center;
    margin-left: 10px;

    li{
        width: 90%;
        height: 70px;
        background-color:#f3f3f3;
        box-shadow: $shadow;
        border-radius: 20px;
        @include flex_btwn;
        margin: auto;
        margin-bottom: 25px;
        }

        li:nth-child(1) {
            padding-right: 44px;
        }

        li:nth-child(2) {
            padding-right: 60px;
        }

        li:nth-child(3) {
            padding-right: 55px;
            background-color:#f1e6ff;
                i{
                    color: $primary_color;
                }
        }

        li::before{
            margin-right: 10px;
            margin-left: -13px;
            width: 22px;
            color: white;
            text-align: center;
            font-size: 18px;
            background-color: $primary_color;
            border-radius: 50%;
            content: counter(puce);
            display: inline-block;
            counter-increment: puce;
        }

}

.bottom_home{
    background-color: $light_background;
    margin-top: 50px;
    padding-bottom: 50px;

    h2{
        padding-top: 35px;
    }
}

/* Début: Media Queries 401px -> 700px */
@media all and (min-width: 401px) and (max-width: 700px){
    .loader{
        width: 100%;
        height: 100%;  
    }

    .middle_home{
        h2{
            position:absolute;
            width:100%;
            left:0px;
        }

        ol{
            padding-top: 50px;
        }
    }

    h2{
        margin-left: 20px;
    }
    .bottom_home{
        width:100%;
    }

    .cards_container_home, .middle_home {
        margin: auto;
        width: 400px;
    }
}
/* Fin: Media Queries 401px -> 700px */

/* Début: Media Queries 701px -> 830px */
@media all and (min-width: 701px) and (max-width: 830px){
    ol{
        width :95%;
        @include flex_arnd;
        flex-wrap:wrap;
    }

    ol li{
        width:30%;
        padding-right: 0px;
        margin-right: 0px;

        i{
            margin-right: 5px;
        }
    }

    ol li:nth-child(1) {
            padding-right: 25px;
        }

    ol li:nth-child(2) {
            padding-right: 30px;
        }

    ol li:nth-child(3) {
            padding-right: 25px;
        }

    .cards_container_home{
        @include flex_arnd;
        flex-wrap: wrap;
        margin-left: 3%;
        margin-right: 3%;
    }

    .card_and_like{
       width:50%;
       margin-bottom: 30px;
    }
}
/* Fin: Media Queries 701px -> 830px */

/* Début: Media Queries 831px -> 1000px */
@media all and (min-width: 831px) and (max-width: 1000px){
    ol{
        width :95%;
        @include flex_arnd;
        flex-wrap:wrap;
    }

    ol li{
        width:30%;
        padding-right: 0px;
        margin-right: 0px;

        i{
            margin-right: 5px;
        }
    }

    ol li:nth-child(1) {
            padding-right: 25px;
        }

    ol li:nth-child(2) {
            padding-right: 30px;
        }

    ol li:nth-child(3) {
            padding-right: 25px;
        }

    .cards_container_home {
        @include flex_arnd;
        flex-wrap: wrap;
        margin-left: 3%;
        margin-right: 3%;
    }

    .card_and_like{
        width:390px;
        margin-bottom: 30px;
     }
}
/* Fin: Media Queries 831px -> 1000px */

/* Début : Media Queries 1001px -> 1440px */
@media all and (min-width: 1001px) and (max-width: 1440px){
    ol{
        width: 950px;
        margin: auto;
        @include flex_arnd;
        flex-wrap:wrap;
    }

    ol li{
        width:30%;
        padding-right: 0px;
        margin-right: 0px;

        i{
            margin-right: 5px;
        }
    }

    ol li:nth-child(1) {
            padding-right: 45px;
        }

    ol li:nth-child(2) {
            padding-right: 55px;
        }

    ol li:nth-child(3) {
            padding-right: 55px;
        }

    h2 {
        margin-left: 20px;
    }

    .cards_container_home{
        @include flex_arnd;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .card_and_like{
        width:25%;
    }
}
/* Fin : Media Queries 1001px -> 1440px */

/* Début: Media queries Ecrans >1440px */
@media all and (min-width: 1441px){
    body{
        max-width: 1440px;
        margin: auto;
    }

    .loader{
        max-width: 1440px;
        height: 100vh;  
    }
    
    ol{
        width: 950px;
        margin: auto;
        @include flex_arnd;
        flex-wrap:wrap;
    }

    ol li{
        width:30%;
        padding-right: 0px;
        margin-right: 0px;

        i{
            margin-right: 5px;
        }
    }

    ol li:nth-child(1) {
            padding-right: 45px;
        }

    ol li:nth-child(2) {
            padding-right: 55px;
        }

    ol li:nth-child(3) {
            padding-right: 55px;
        }

    h2 {
        margin-left: 20px;
    }

    h2 {
        margin-left: 20px;
    }

    .cards_container_home{
        @include flex_arnd;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    .card_and_like{
        width:25%;
    }
    
}
/* Fin: Media queries Ecrans >1440px */