h2{
    margin-left:20px;
}

header{
    display: flex;
    justify-content: center;
}

a.previous_Index {
    display: none;
}

form{
    width:100%;
    text-align: center;
    background-color: $dark_background;
    margin-top: 20px;
    margin-bottom: 50px;
    /*box-shadow: 10px 10px 5px red inset;*/
    

    .localize{
        height: 50px;
        background-color: $dark_background;
        border: none;
    }

    ::placeholder{
        padding-left:15px;
    }
}

.bottom_home{
    background-color: $light_background;
    margin-top: 50px;
    margin-bottom: 30px;

    h2{
        padding-top: 50px;
    }

    a{
        width:100%;
    }
}

