h2{
    margin-left:20px;
}

.bottom_home{
    background-color: rgb(237 237 237);
    margin-top: 50px;
    margin-bottom: 30px;

    h2{
        padding-top: 50px;
    }

    a{
        width:100%;
    }
}

