@mixin cursor {
    cursor:pointer
}

@mixin flex_cntr{
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_btwn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_strt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex_arnd{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

@mixin animation_child2_page{
    opacity:0;
    top:30px;
    animation:.5s ease-in-out 1 forwards opacit,.5s ease-in-out .25s 1 forwards top_position;
}

@mixin animation_child3_page{
    opacity: 0;
    top:30px;
    animation:.5s ease-in-out .25s 1 forwards opacit,.5s ease-in-out .5s 1 forwards top_position;
}

@mixin animation_child4_page{
    opacity: 0;
    top:30px;
    animation:.5s ease-in-out .5s 1 forwards opacit,.5s ease-in-out .75s 1 forwards top_position;
}
