/* Changement apparence de la souris au survol d'un lien ou d'un bouton" */
@mixin cursor {
    cursor:pointer
}

/* Flexbox : Center */
@mixin flex_cntr{
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Flexbox : Space-Between */
@mixin flex_btwn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Flexbox : Start */
@mixin flex_strt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Flexbox : Sapce-Arround */
@mixin flex_arnd{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

/* Animation du plat n°1 de "Entrées" */
@mixin animation_child2_top_page{
    opacity:$fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out 1 forwards opacit,.2s $fade_in_translate_cubic .24s 1 forwards top_position;
}

/* Animation du plat n°2 de "Entrées" */
@mixin animation_child3_top_page{
    opacity: $fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out .26s 1 forwards opacit,.2s $fade_in_translate_cubic .30s 1 forwards top_position;
}

/* Animation du plat n°3 de "Entrées" */
@mixin animation_child4_top_page{
    opacity: $fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out .32s 1 forwards opacit,.2s $fade_in_translate_cubic .36s 1 forwards top_position;
}

/* Animation du plat n°1 de "Plats" */
@mixin animation_child2_middle_page {
    opacity:$fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out .38s 1 forwards opacit,.2s $fade_in_translate_cubic .42s 1 forwards top_position;
}

/* Animation du plat n°2 de "Plats" */
@mixin animation_child3_middle_page {
    opacity:$fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out .44s forwards opacit,.2s $fade_in_translate_cubic .48s 1 forwards top_position;
}

/* Animation du plat n°3 de "Plats" */
@mixin animation_child4_middle_page {
    opacity:$fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out .50s forwards opacit,.2s $fade_in_translate_cubic .54s 1 forwards top_position;
}

/* Animation du plat n°1 de "Desserts" */
@mixin animation_child2_bottom_page{
    opacity:$fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out .56s forwards opacit,.2s $fade_in_translate_cubic .60s 1 forwards top_position;
}

/* Animation du plat n°2 de "Desserts" */
@mixin animation_child3_bottom_page{
    opacity:$fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out .62s forwards opacit,.2s cubic-bezier(.2,.86,.88,.08) .66s 1 forwards top_position;
}

/* Animation du plat n°3 de "Desserts" */
@mixin animation_child4_bottom_page{
    opacity:$fade_in_opac_value;
    top:$fade_in_top_position_value;
    animation:.2s ease-in-out .68s forwards opacit,.2s cubic-bezier(.2,.86,.88,.08) .72s 1 forwards top_position;
}