$primary_color :#9356DC;

$secondary_color: #FF79DA;

$tertiary_color: #99E2D0;

$shadow:rgb(208,208,208);

$dark_background:rgb(214, 213, 213);

$light_background:#f5f5f5;

$footer_background:rgb(66, 65, 65);