$primary_color :#9356DC;

$secondary_color: #FF79DA;

$tertiary_color: #99E2D0;

$shadow:0px 2px 10px #c5c5c5;

$dark_background:rgb(235, 235, 235);

$light_background:#f5f5f5;

$footer_background:rgb(66, 65, 65);

$fade_in_translate_cubic:cubic-bezier(.25,.81,.6,1.02);

$fade_in_duration:.6s;